<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Couchbase Server Zip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Couchbase Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Couchbase Single Server Zip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Couchbase Single Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA1AD332133DA58D00E6A9E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1AD353133DA58D00E6A9E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA638DF613E1F7BA005E6A5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA638E2513E1F7C9005E6A5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE21573133DB9C2006D63D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
